@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin:0 0 0 0 ;
  padding:0;
  text-decoration:none;
  box-sizing:border-box;
}
.max-width{
  padding:0 80px;
  width:1366px;
  margin:auto;
}
.navbar.sticky{
  padding:6px 0;
  background:#ED7014;
  position:fixed;
}
.navbar{
  position:fixed;
  width:100%;
  padding:15px 0;
  /*
  background:#ED7014;*/
  font-family:'Ubuntu',sans-serif;
}
.navbar .max-width{
  display:flex;
  align-items:center;
  justify-content:space-between ;
}
.navbar .logo a{
  color:#fff;
  font-size:35px;
  font-weight:600;
}
.navbar .logo a:hover{
  color:#000000;
}
.navbar .logo a span{
  color:#ED7014;
}
.navbar.sticky .logo a span{
  color:#9400D3;
}

.navbar .menu li{
  list-style: none;
  display:inline-block;
  }
.navbar .menu li a{
    color:#fff;
    font-size:18px;
    font-weight:500;
    margin-left:25px;
    transition: color 0.3s ease;
  }
.navbar .menu li a:hover{
      color:#000000;
      }
.menu-btn{
        color:#fff;
        font-size:40;
        cursor:pointer;
        display:none;
      }
.home{
      display:flex;
      background:#9400D3;
      background-size:#ED7014 cover;
      height:700px;
      color:#fff;
      min-height:500px;
      font-family:'Ubuntu',sans-serif;
  }
.imgdisplay{
  float:right;
  width:400px;
  height:450px;
  padding :40px 0 0 0;
}
.home .max-width{
    margin: auto 0 auto 100px;
  }
.home-content .text1{
    padding-top:180px;
    font-size: 27px;
    margin-top:100px:
  }
.home-content .text2{
    font-size:50px;
    font-weight:600;
    margin-left:-3px;
  }
.home-content .text3{
    font-size:40px;
    margin:5px 0;
  }
.home-content .text3 span{
    color:#ED7014;
    font-weight:500;
  }
/*responsive media query start*/
@media(max-width:480px){
.max-width{
    width:480px;
    padding:0;
    display:flex;

  }
  .navbar .max-width{
    width:480px;
    display:flex;
    padding: 0 20px;
  }
.menu-btn{
  display:block;
  z-index:999;
      }
.navbar .menu{
    position:fixed;
    height:100vh;
    width:100%;
    left:-100%;
    top:0;
    background:#ED7014;
    padding-top: 50px;
    text-align:center;
  }
  .navbar .menu.active{
    left:0%;
}
  .navbar .logo a{
    padding: 0 10px;
  }
.navbar .menu li{
    display:block;
  }
.navbar .menu li a{
    padding:10px;
    font-size:20px;
 display:inline-block;
  }
.home{
        display:cover;
        background:#9400D3 cover;
        width:600px;
        height:700px;
        color:#fff;

        font-family:'Ubuntu',sans-serif;
    }
.home .max-width{
  width:480px;
display:flex;
      margin:0;
    }
.home-content{
  display:block;
  margin-top: 50px;
  width:480px;
  left:0;

}
.imgdisplay{
    width:300px;
  height:400px;
}
.imgdiv{
  float:middle;


}
.home-content .text1{
        padding-top:70px;
        display:block;
        font-size: 20px;

        padding-left:70px;

      }
    .home-content .text2{
        font-size:30px;
padding-top: 10px;
        padding-left:70px;

        font-weight:600;
}
    .home-content .text3{
        font-size:35px;
padding-top: 10px;
        margin:5px 0;
          padding-left:70px;
      }
    .home-content .text3 span{
        color:#ED7014;


        font-weight:500;
      }
}
